#checkIngredientes,
#itemIngredientes,
#header-action-ingredientes,
#Form-Agregar-Ingrediente,
#headerBuscar,
#checkTodo,
#item {
    display: none;
}

#item-option-ingredientes {
    width: 60px;
}

#catalogoProductos {
    display: none;
}