<app-header titulo="Mis Articulo"></app-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item>
            <ion-label>Mi Articulo 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Mi Articulo 2</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Mi Articulo 3</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Mi Articulo 4</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Mi Articulo 5</ion-label>
        </ion-item>
    </ion-list>
</ion-content>